.botonOperador{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(6, 6, 6) solid 2px;
    background-color: rgb(43, 220, 184);
    border-radius: 7px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    color: rgb(0, 0, 0);
    flex: 1 1;
    font-weight: bolder;
}

.operador{
    background-color:rgb(1, 1, 34);
    color: white;
}

.botonOperador:hover{
    background-color: rgb(17, 108, 107);
    font-size: 25px;
}
.operador:hover{
    background-color: rgb(28, 3, 136);
}