.input{
height: 75px;
border-radius: 50px;
margin-bottom: 20px;
display: flex;
justify-content: flex-end;
align-items: center;
font-size: 30px;
background-color: rgb(1, 1, 71);
color: white;
padding: 11px 30px 11px 11px ;
font-weight: bold;
border: 2px black solid;
box-shadow: -1px 4px 1px 1px rgb(190, 190, 191);
margin-left: 4px;
}