.App{
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: rgb(1, 1, 34);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: lato, sans-serif;
}

.divPrincipal{
  width: 300px;
  min-height:550px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 14px;
  border: rgb(43, 220, 184) solid 4px;
  overflow-y: auto;
  
}

.fila{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
}




